<%= form_for(@company, {multipart: true}) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name %>
  </div>

  <div class="field">
    <%= form.label :employees %>
    <%= form.number_field :employees, id: :company_employees %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :company_url %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :company_address %>
  </div>

  <div class="field">
    <%= form.label :logo %>
    <%= form.file_field :logo, id: :company_logo %>
  </div>

  <div class="field">
    <%= form.label :establish %>
    <%= form.number_field :establish, id: :company_establish %>
  </div>

  <div class="field">
    <%= form.label :ceo %>
    <%= form.text_field :ceo, id: :company_ceo %>
  </div>

  <div class="field">
    <%= form.label :investment %>
    <%= form.text_field :investment, id: :company_investment %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :company_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
