<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Employees</th>
      <th>Url</th>
      <th>Address</th>
      <th>Logo</th>
      <th>Establish</th>
      <th>Ceo</th>
      <th>Investment</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.employees %></td>
        <td><%= company.url %></td>
        <td><%= company.address %></td>
        <td><%= company.logo %></td>
        <td><%= company.establish %></td>
        <td><%= company.ceo %></td>
        <td><%= company.investment %></td>
        <td><%= company.content %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
